* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alignPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border {
    border: black 3px solid;
    padding: 1em;
}

.grey {
    background-color: rgb(200, 200, 200);
}

.center{
    display: flex;
    justify-content: center;
}

header {
    width: 1100px;
    height: 5em;
}
header input {
    width:30em;
    font-size: 1.2em;
    padding: .25em !important;
}

.pad {
    padding: 1em;
}

.container {
    display: flex;
    width: 1100px;
}

.container >* {
    padding-top: 1em;
    padding-right: 1em;
}

#left {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.definition {
    width: 40em;
    margin: 1em;
    margin-left: 0;
}

.defLeft :nth-child(2) {
    font-style: italic;
}

.defLeft {
    flex: 1;
}

.defLeft >* {
    margin-top: .25em;
    margin-bottom: .25em;
}

.defRight {
    flex: 2;
}

#right {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em;
}

#addDefBox {
    display: flex;
    width: 20.5em;
    flex-direction: column;
    padding: 1em;
    align-items: center;
}

#addDefBox h1 {
    font-size: 2.7em;
}

.likeButton {
    background-color: rgb(255, 217, 102);
}

.addDefButton {
    background-color: rgb(150, 195, 125);
}

#logInOutButton {
    background-color: rgb(55, 125, 230);
    margin-right: 1em;
    color: white;
}

button {
    box-shadow: black 2px 3px;
    font-size: 1.3em;
    padding: .5em 1em;
}

#right div p {
    font-size: 2.7em;
}